<!DOCTYPE html>
<html><head>
<link rel="stylesheet" href="5css.css" type="text/css">
    <script src="angular.min.js"></script>
    <script>
    var res1 = angular.module("res",[]);
    
    res1.controller('resumes', function($scope, $http){
        $scope.submit=function (){
            alert("Message sent")
            $http({
                'url': '/cheps',
                'method': 'POST',
                'data': {
                    name: $scope.name,
                    Phonenumber: $scope.phonenumber,
                    Email: $scope.Email
                }
                
            }).then(function(err,data){
                console.log(data)
            })
        }
    });
    
    </script>

<body>

    <div class="heading">
            <h1>MyResume</h1>
        </div>
        <div class="navigation">
            <ul>
                <li><a class="active" href="#">HOME</a></li>
                <li><a href="2.html">SKILLS</a></li>
                <li><a href="3.html">ABOUT</a></li>
                <li><a href="4.html">CONTACT</a></li>



            </ul>
        </div> 
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<div id="googleMap" class="w3-grayscale-max" style="width:100%;height:400px;"></div>

<div class="w3-container w3-padding-64 w3-blue-grey w3-grayscale-min w3-xlarge">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:64px">Contact</h1>
    
    <div ng-controller="resumes">
      <p><input class="w3-input w3-padding-16 w3-border"  ng-model="Name" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" ng-model="Phonenumber" type="number" placeholder="Phonenumber" required name="People"></p>
      <p><input class="w3-input w3-padding-16 w3-border" ng-model="Mail"type="text" placeholder="Mail" required name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-block" type="submit">SEND MESSAGE</button></p>
    </div>
  </div>
</div>
</head>

</body>
</html>